.header {
  display: flex;
  align-items: center;
  background-color: var(--light-purple);
  padding: var(--padding-standard);
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-icon {
  height: 40px; 
  margin-right: var(--margin-standard);
}

.logo-text {
  font-size: var(--font-size-large); 
  color: var(--white);
  font-weight: var(--font-weight-bold); 
}
