

.action-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

.form-container {
    background-color: var(--light-gray);
    border-radius: 50px;
}

.profile-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 50px;
    padding: 40px;
}
.image-button {
    height: 40px;
}

.profile-picture-container {
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.profile-image {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .profile-form-container {
        width: 90%; /* Slightly smaller width on smaller screens */
    }
}
