

.action-buttons {
    display: flex;
    justify-content: space-between;
}

.form-container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}

.profile-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 50px;
    margin: 40px;
}

.image-button {
    height: 40px;
}

.profile-picture-container {
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.profile-image {
    border-radius: 50%;
}

@media (max-width: 768px) {
    .profile-form-container {
        width: 90%; /* Slightly smaller width on smaller screens */
    }
}
