/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
    width: 30%;
}

.nav-link {
    display: flex;
    align-items: center;

    font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2.2em;
    text-decoration: none;

    color: #000;
    background-color: #d9d9d9;

    width: 90%;
    height: 60px;
    margin: 20px 0;
    border-radius: 2em;
    padding: 1.6em 2em 1.6em 1em;
}

.nav-link:hover {
    color: var(--light-purple);
    background-color: var(--pure-white);
}

.classnav-image {
    width: 50px;
}

.active {
    background-color: #b0b0b0;
}

@media only screen and (max-width: 800px) {
    .sidebar {
        flex-direction: row;
        width: 100%;
    }
}
