.memberslistHeader {
    display: flex;
    margin-bottom: var(--margin-standard);
}

.memberslistHeader img {
    margin-right: var(--margin-standard);
}

.memberslistMain {
    border-radius: var(--border-radius-circle);
}

.memberslist {
    background-color: var(--pure-white);
    display: flex;
    justify-content: space-between;
    width: 60vw;
    flex-direction: row;
    border-radius: var(--border-radius-standard);
    height: 50vh;
    padding: var(--padding-standard);
}

.memberslist-item ul {
    list-style: none;
}
.memberslist-item li {
    display: flex;
    align-items: center;
    margin: var(--margin-standard) 0;
    font-size: var(--font-size-medium);
}

.memberslist-item img {
    margin-right: var(--margin-standard);
}

.membersListContainer {
    display: flex;
    height: 95vh;
}
.memberslistBody {
    margin: var(--padding-standard);
}
