* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

.postContent {
  background: linear-gradient(180deg, #bfb0d8 0%, #504269 100%);
}

.sidebarButton p {
  margin-left: 10px;
}

.postImage {
  display: flex;
  justify-content: center;
}

.postImage img {
  height: 20%;
}

.post {
  display: flex;
}

.postSidebar {
  width: 60vw;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.sidebarButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #000;
  width: 250px;
  margin: 5px 10px;
  border-radius: 50px;
  background: #d9d9d9;
  height: 40px;
  padding: 10px;
}

.postBackButton {
  background-color: #fff;
  padding: 15px 10px;
  border-radius: 50px;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
}

.postMain {
  margin: 5%;
}

.postwrapper {
  background-color: #fff;
}

.postHeader {
  margin-top: 30px;
  border-bottom: 1px solid #b5b5b5;
}

.postHeader h1,
p {
  margin: 20px 20px;
}

.postBody {
  height: 30vh;
}

.postBody p {
  width: 40%;
}
