* {
  box-sizing: 0;
  padding: 0;
  margin: 0;
}

.postContent {
  background: linear-gradient(180deg, #bfb0d8 0%, #504269 100%);
}

.sidebarButton p {
  margin-left: 10px;
}

.postImage {
  display: flex;
  justify-content: center;
}

.postImage img {
  max-width: 100%;
  height: 20%;
}

.post {
  display: flex;
}

.postMain {
  margin: 5%;
}

.postBackButton {
  background-color: #fff;
  padding: 1.3em 1em;
  border-radius: 2em;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.postwrapper {
  background-color: #fff;
  overflow: scroll;
  margin-top: 2em;
}

.postHeader {
  margin-top: 30px;
  border-bottom: 1px solid #b5b5b5;
}

.postHeader h1,
p {
  margin: 20px 20px;
}

.postBody {
  height: 30vh;
}

.postBody p {
  width: 40%;
}

@media only screen and (max-width: 800px) {
  .post {
      flex-direction: column;

  }
}