.post {
  background: var(--bg-gradient);
}

.postMain {
  flex-grow: 1;
  padding: var(--padding-standard); 
}

.postimage {
  width: 100%;
}


.post-wrapper {
  display: grid;
  padding: 20px;
  background-color: var(--pure-white);
  margin-top: var(--margin-standard); 
}

.postHeader {
  margin-top: var(--margin-standard); 
}

.postHeader h1,
.postBody p {
  margin: var(--margin-standard); 
}

.postBody {
  height: 30vh;
}

.postBody p {
  width: 40%; 
}
