main {
    margin-left: auto;
    margin-right: auto;
}

#class-container img {
    width: 100%;
    max-height: 250px;
}

#class-description {
    background-color: var(--pure-white);
    padding: 1em;
}

#lectures-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2.5em;
    row-gap: 2.5em;
    background-color: var(--bg-transparent);
    padding: 2em;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.3);
}

.lecture {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--pure-white);
    max-width: 100%;
    min-height: 290px;
    border-radius: 2em;
    padding: 1em;
}

hr {
    width: 100%;
    background-color: var(--light-gray);
}

.lecture-img {
    max-width: 80%;
    height: auto;
    border-radius: 5em;
    margin-bottom: 1em;
}

.open-lecture-link {
    width: 50%;
    color: var(--black);
    background-color: var(--light-gray);

    font-weight: bold;
    text-decoration: none;
    text-align: center;

    padding: .8em;
    border-radius: 1em;
    margin-top: 1em;
}

a:hover {
    background-color: var(--gray);
    color: var(--white);
    text-decoration: underline;
}