/* ClassPage */
.app-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: auto;
}

.main-content {
  flex-grow: 1;
  padding: var(--padding-standard);
  min-height: 100vh;
  background-color: var(--bg-purple);
}

.class-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: var(--padding-standard);
  gap: var(--margin-standard);
}

.class-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--padding-standard);
  justify-items: center;
  align-content: center;
  padding: var(--padding-standard);
}

.class-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-standard);
  padding: var(--padding-standard);
  width: 300px;
  height: 100%;
  text-align: center;
  background-color: var(--white);
}

.class-card img {
  width: 244px;
  height: 123px;
  object-fit: cover;
  border-radius: var(--border-radius-standard);
}

.join-class-btn, .create-class-btn {
  width: 200px;
  height: 70px;
  border-radius: var(--border-radius-pill);
  color: var(--black);
  background: var(--pure-white);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
}

.join-class-btn:hover, .create-class-btn:hover {
  background-color: var(--white);
}

.class-image {
  display: flex;
  align-items: center;
  margin-left: 80px; 
}

.open-classroom {
  align-items: end;
}

.class-header-text {
  color: var(--black);
  font-family: "Poppins", sans-serif;
  font-size: var(--font-size-hero);
  font-weight: var(--font-weight-medium);
}

.class-card h3 {
  margin-top: var(--margin-standard);
}

.class-card p {
  font-size: var(--font-size-medium);
  color: var(--medium-gray);
}

.open-classroom-link {
  width: 50%;
  color: var(--black);
  background-color: var(--light-gray);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  text-align: center;
  padding: var(--padding-standard);
  border-radius: var(--border-radius-pill);
  margin-top: var(--margin-standard);
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--bg-transparent);
}

.modal-content {
  background-color: var(--pure-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15% auto;
  width: 80%;
  max-width: 560px;
  height: 416px;
  text-align: center;
  gap: 40px;
  position: relative;
  border-radius: var(--border-radius-standard);
}

.join-btn, .cancel-btn {
  font-size: var(--font-size-large);
  border-radius: var(--border-radius-pill);
  margin: var(--margin-standard);
}

.join-btn {
  background-color: var(--light-purple);
  color: var(--pure-white);
}

.cancel-btn {
  background-color: var(--light-gray);
  color: var(--gray);
}

.join-btn:hover, .cancel-btn:hover {
  background-color: var(--gray);
  color: var(--light-gray);
}

.close, .create-close {
  color: var(--medium-gray);
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-size-xlarge);
  font-weight: var(--font-weight-bold);
}

.close:hover, .close:focus, .create-close:hover, .create-close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .app-container {
    flex-direction: column;
  }
}

.create-cancel-btn, .create-create-btn {
  border-radius: var(--border-radius-pill);
  width: 160px;
  height: 60px;
  margin: var(--margin-standard);
}

.create-create-btn {
  background-color: var(--light-purple);
  color: var(--pure-white);
}

.create-create-btn:hover {
  background-color: var(--purple-white);
  color: var(--gray);
}

.create-form-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1165px; 
  height: 669px; 
  background-color: var(--white);
  border-radius: var(--border-radius-pill);
  justify-content: center;
  align-items: center;
  padding: var(--padding-standard);
}

.earth-image {
  width: 250px; 
  background-color: var(--pure-white);
  border-radius: var(--border-radius-pill);
}
