/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 20%;
  min-height: 100vh;
}

.nav-link {
  display: flex;
  align-items: center;
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  font-size: var(--font-size-xlarge); 
  text-decoration: none;
  color: var(--black);
  background-color: var(--light-gray);
  width: 80%;
  height: 15px;
  margin: var(--margin-standard); 
  border-radius: var(--border-radius-pill); 
  padding: var(--padding-standard); 
}

.nav-link:hover {
  color: var(--light-purple);
  background-color: var(--pure-white);
}

.classnav-image {
  width: var(--icon-size); 
}

.active {
  background-color: var(--medium-gray);
}

@media only screen and (max-width: 600px) {
  .sidebar {
    flex-direction: row;
    width: 100%;
  }
}
