/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  width: 20%;
  height: 100vh; 
  padding-top: var(--margin-standard); 
  box-sizing: border-box; 
}

.nav-link {
  display: flex;
  align-items: center;
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  font-size: var(--font-size-xlarge); 
  text-decoration: none;
  color: var(--black);
  background-color: var(--light-gray);
  width: 80%;
  height: 15px;
  margin: var(--margin-standard); 
  border-radius: var(--border-radius-pill); 
  padding: var(--padding-standard); 
}

.nav-link:hover {
  color: var(--light-purple);
  background-color: var(--pure-white);
}

.classnav-image {
  width: var(--icon-size); 
}

.active {
  background-color: var(--medium-gray);
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100%; 
    overflow-y: auto; 
    padding-top: 60px; 
  }

  .nav-link {
    width: 100%; /* adjust link width to fill sidebar */
    justify-content: center; /* center link contents */
  }
  
  /* Hide the sidebar links until the hamburger menu is clicked (you'll need to handle this with JS) */
  .sidebar.collapsed .nav-link {
    display: none;
  }
}