/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
}

.reflections,
.classnav {
  color: #000;
  background-color: #f0f0f0;
  border: 1px dashed #aaa;
  width: 390px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.2em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  text-decoration: none;
}

.reflections:hover,
.classnav:hover {
  color: var(--light-purple);
  background-color: var(--pure-white);
}

.classnav-image {
  width: 50px;
}

.active {
  background: #d9d9d9;
}
