.lectures-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    max-width: 600px; 
    margin: var(--margin-standard) auto; 
    gap: var(--margin-standard); 
}

.flex-item .class-image {
    max-width: 100%; 
    height: auto; 
}