.file-upload {
    display: none;
  }

  .icon-button img {
    width: 24px; 
  }
  
  .attachment-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .toggle-group {
    display:flex;
    align-items: flex-end;
  }

  .icon-button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: var(--font-size-medium);
  }

  .file-upload-section {
    display: flex;
    justify-content: space-between;
  }